/* Google Fonts Noto serif and Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Styles */
.noto-serif {
    font-family: "Noto Serif", serif;
}

.inter-serif {
    font-family: "Inter", sans-serif;
}