/* Google Fonts Noto serif and Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Styles */
.noto-serif {
    font-family: "Noto Serif", serif;
}

.inter-serif {
    font-family: "Inter", sans-serif;
}

.middle-align {
    max-width: 1140px;
    margin: auto;
}

.display-flex {
    display: flex;
}

.orange {
    color: #E95A08;
}

/* Header section styles here */
.header {
    /* border: 2px solid red; */
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}

.links-container {
    margin-right: 48px;
}

.links-container li {
    margin-right: 48px;
    list-style: none;
}

.link {
    text-decoration: none;
}

.black-bold-link {
    font-weight: 700;
    color: #252432;
}

.gray-normal-link {
    color: #8987A1;
}

.cart-title {
    margin-left: 10px;
}

/* Banner Styles Starts Here */
.banner-container {
    /* border: 2px solid red; */
    margin-top: 120px;
    align-items: end;
}

.banner-content {
    flex: 1;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    font-size: 1.4rem;
    color: #00000050;
    margin-top: 13px;
}

.banner-image {
    flex: 1;
}

.banner-image img {
    width: 100%;
}

/* Plants Section Styles Starts Here */
.plant-container {
    /* border: 2px solid red; */
    margin-top: 120px;
}

.plant-content {
    text-align: center;
}

.plant-title {
    font-size: 3.125rem;
    font-weight: 700;
}

.plant-description {
    color: #00000050;
    font-size: 1.375rem;
    margin: 16px auto 0;
    max-width: 888px;
    /* border: 2px solid blue; */
}

/* Card section */
.card-container {
    margin-top: 49px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
}

.card {
    /* border: 1px solid blue; */
    max-width: 270px;
    text-align: center;
    color: #111111;
}

.card img {
    display: block;
    width: 100%;
}

.card-title {
    font-size: 1.375rem;
    font-weight: 500;
    margin-top: 30px;
}

.card-description {
    font-size: 1.375rem;
    font-weight: 700;
    margin-top: 20px;
}

.btn-primary {
    display: block;
    width: 100%;
    background-color: #E95A08;
    margin-top: 30px;
    padding: 26px 50px;
    font-weight: 600;
    color: white;
    border: none;
    font-family: "Inter", sans-serif;
}

/* Trusted section styles here */
.trusted-container {
    /* border: 1px solid red; */
    margin-top: 210px;
    justify-content: space-between;
}

.wrapper-container {
    position: relative;
    max-width: 540px;
}

/* .wrapper-background {*/
    /* width: 100%; */ 

.wrapper-background img {
    width: 100%;
}

.wrapper-badge {
    /* border: 1px solid blue; */
    position: absolute;
    top: -132px;
    right: -100px;
    width: 286px;
    height: 286px;
}

.wrapper-badge img {
    width: 100%;
}

/* Trusted Content styles */
.trusted-content {
    /* border: 1px solid green; */
    max-width: 540px;
    margin: 28px 0;
}

.trusted-content-title {
    font-size: 3.125rem;
    font-weight: 700;
}

.trusted-content ul {
    list-style-position: inside;
    color: #00000050;
    font-size: 1.375rem;
    padding: 5px 10px;
}

.trusted-content ul * {
    margin-top: 20px;
}



/* Responsive for mobile devices */

@media screen and (max-width: 576px) {

    /* Header section responsive */
    .header {
        margin: 13px 16px 28px;
    }

    .links-container {
        display: none;
    }

    /* Banner section responsive */
    .banner-container {
        flex-direction: column-reverse;
        margin-top: 28px;
        align-items: start;
    }

    .banner-content {
        margin: 28px 16px 0 16px;
    }

    .banner-title {
        font-size: 1.5rem;
    }

    .banner-description {
        font-size: 0.9rem;
    }

    /* Plant and Card section responsive */
    .plant-container {
        margin-top: 65px;
    }

    .plant-title {
        font-size: 1.5rem;
    }

    .plant-description {
        font-size: 0.875rem;
        padding: 0 28px;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 28px 15px 0 15px;
    }

    .card-title,
    .card-description {
        font-size: 1rem;
    }

    .card-description {
        margin-top: 10px;
    }

    .btn-primary {
        padding: 20px 30px;
    }

    /* Trusted section responsive */
    .trusted-container {
        flex-direction: column;
        margin: 42px 15px 0 15px;
    }

    .wrapper-badge {
        display: none;
    }

    .trusted-content-title {
        font-size: 1.5rem;
    }

    .trusted-content ul {
        font-size: 0.875rem;
    }


}




/* Responsive for medium devices */
@media screen and (min-width: 577px) and (max-width: 768px) {
    
    /* Planet and card section  */
    .plant-container {
        margin-top: 65px;
    }

    .plant-title {
        font-size: 1.5rem;
    }

    .plant-description {
        font-size: 0.875rem;
        padding: 0 28px;
    }

    .card-container {
        grid-template-columns: repeat(3, 1fr);
        margin: 28px 15px 0 15px;
    }

    .card-title,
    .card-description {
        font-size: 1rem;
    }

    .card-description {
        margin-top: 10px;
    }

    .btn-primary {
        padding: 20px 30px;
    }

    /* Trusted section styles */
    .trusted-container {
        flex-direction: column;
        margin: 42px 15px 0 15px;
    }

    .wrapper-container {
        
    }

    .wrapper-badge {
        display: none;
    }

    .trusted-content-title {
        font-size: 1.5rem;
    }

    .trusted-content ul {
        font-size: 0.875rem;
    }

}