/* Google Fonts Noto serif and Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Styles */
.noto-serif {
    font-family: "Noto Serif", serif;
}

.inter-serif {
    font-family: "Inter", sans-serif;
}

.middle-align {
    max-width: 1140px;
    margin: auto;
}

.display-flex {
    display: flex;
}

.orange {
    color: #E95A08;
}

/* Animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}





/* Header section styles here */
.header {
    /* border: 2px solid red; */
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}

.links-container {
    margin-right: 48px;
}

.links-container li {
    margin-right: 48px;
    list-style: none;
}

.link {
    text-decoration: none;
}

.black-bold-link {
    font-weight: 700;
    color: #252432;
}

.gray-normal-link {
    color: #8987A1;
}

.cart-title {
    margin-left: 10px;
}

/* Banner Styles Starts Here */
.banner-container {
    /* border: 2px solid red; */
    margin-top: 120px;
    align-items: end;
}

.banner-content {
    flex: 1;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    font-size: 1.4rem;
    color: #00000050;
    margin-top: 13px;
}

.banner-image {
    flex: 1;
}

.banner-image img {
    width: 100%;
}

/* Plants Section Styles Starts Here */
.plant-container {
    /* border: 2px solid red; */
    margin-top: 120px;
}

.plant-content {
    text-align: center;
}

.plant-title {
    font-size: 3.125rem;
    font-weight: 700;
}

.plant-description {
    color: #00000050;
    font-size: 1.375rem;
    margin: 16px auto 0;
    max-width: 888px;
    /* border: 2px solid blue; */
}

/* Card section */
.card-container {
    margin-top: 49px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
}

.card {
    /* border: 1px solid blue; */
    max-width: 270px;
    text-align: center;
    color: #111111;
}

.card img {
    display: block;
    width: 100%;
}

.card-title {
    font-size: 1.375rem;
    font-weight: 500;
    margin-top: 30px;
}

.card-description {
    font-size: 1.375rem;
    font-weight: 700;
    margin-top: 20px;
}

.btn-primary {
    display: block;
    width: 100%;
    background-color: #E95A08;
    margin-top: 30px;
    padding: 26px 50px;
    font-weight: 600;
    color: white;
    border: none;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}

/* Trusted section styles here */
.trusted-container {
    /* border: 1px solid red; */
    margin-top: 210px;
    justify-content: space-between;
}

.wrapper-container {
    position: relative;
    max-width: 540px;
}

/* .wrapper-background {*/
/* width: 100%; */

.wrapper-background img {
    width: 100%;
}

.wrapper-badge {
    /* border: 1px solid blue; */
    position: absolute;
    top: -132px;
    right: -100px;
    width: 286px;
    height: 286px;
}

.wrapper-badge img {
    width: 100%;
    animation: spin 5s linear 1s infinite forwards;
}

/* Trusted section styles */
.trusted-content {
    /* border: 1px solid green; */
    max-width: 540px;
    margin: 28px 0;
}

.trusted-content-title {
    font-size: 3.125rem;
    font-weight: 700;
}

.trusted-content ul {
    list-style-position: outside;
    color: #00000050;
    font-size: 1.375rem;
    padding: 5px 10px;
}

.trusted-content ul * {
    margin-top: 20px;
}

/* Deals section styles here */
.deals-container {
    /* border: 2px solid red; */
    margin-top: 130px;
}

.deals-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.deals-title {
    font-size: 3.125rem;
    font-weight: 700;
}

.deals-description {
    color: #00000050;
    font-size: 1.375rem;
    max-width: 888px;
    margin: auto;
}

/* Box container styles here */
.box-container {
    display: flex;
    width: 100%;
    height: 423px;
    column-gap: 28px;
    margin-top: 120px;
}

.left {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 35%;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    position: relative;
    /* z-index: 1; */
}

.box-1 {
    flex: 1;
    /* border: 1px solid yellow; */
    background-image: url("../assets/deal-bloom.png");
    border-radius: 14px;
}

.box-2 {
    flex: 1;
    /* border: 1px solid green; */
    background-image: url("../assets/deal-ana.png");
    border-radius: 14px;
}

.box-3 {
    /* border: 1px solid blue; */
    width: 65%;
    background-image: url("../assets/deal-zabo.png");
    border-radius: 22px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.4;
    z-index: 1;
    border-radius: 14px;
}

.big-overlay {
    border-radius: 22px;
}

.box-title {
    font-size: 1.25rem;
    font-weight: 700;
    z-index: 2
}

.box-description {
    font-weight: 600;
    text-decoration: underline;
    margin-top: 20px;
    z-index: 2;
}

#important-title {
    font-size: 2.5rem;
    font-weight: 700;
}

#important-description {
    font-size: 1.75rem;
    font-weight: 600;
}

/* Join Section styles here */
.join-container {
    max-width: 100%;
    height: 533px;
    background-image: url("../assets/news-letter-bg.png");
    background-size: cover;
    background-position: center;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-content {
    /* border: 2px solid red; */
    width: 830px;
    /* text-align: center; */
}

.join-title {
    font-size: 3.125rem;
    font-weight: 700;
    color: white;
    text-align: center;
}

.input-btn {
    margin-top: 23px;
    display: flex;
    justify-content: center;
    gap: 0;
    max-width: 100%;

}

.email {
    display: block;
    max-width: 80%;
    flex: 1;
    padding: 15px 20px;
    border: none;
}

.btn-secondary {
    flex: 1;
    max-width: 20%;
    background-color: #E95A08;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

/* Footer section styles here */
.footer-container {
    /* border: 2px solid red; */
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    min-height: 250px;
}

.footer-content {
    /* border: 2px solid blue; */
    max-width: 360px;
    height: 190px;
}

.footer-content-description {
    color: #00000050;
    font-size: 1.375rem;
    margin-top: 16px;
}

.footer-list-one {
    /* border: 1px solid green; */
    width: 85px;
    height: 248px;
}

.footer-list-two {
    /* border: 1px solid green; */
    width: 128px;
    height: 248px;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin-bottom: 32px;
}

footer ul a {
    text-decoration: none;
    color: #6B7280;
}

.footer-icon {
    display: flex;
    width: 216px;
    justify-content: space-between;
}

.footer-icon div {
    width: 36px;
    height: 36px;
}

.footer-icon div img {
    width: 100%;
}





/* Responsive for mobile devices */

@media screen and (max-width: 576px) {

    /* Header section responsive */
    .header {
        margin: 13px 16px 28px;
    }

    .links-container {
        display: none;
    }

    /* Banner section responsive */
    .banner-container {
        flex-direction: column-reverse;
        margin-top: 28px;
        align-items: start;
    }

    .banner-content {
        margin: 28px 16px 0 16px;
    }

    .banner-title {
        font-size: 1.5rem;
    }

    .banner-description {
        font-size: 0.9rem;
    }

    /* Plant and Card section responsive */
    .plant-container {
        margin-top: 65px;
    }

    .plant-title {
        font-size: 1.5rem;
    }

    .plant-description {
        font-size: 0.875rem;
        padding: 0 28px;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 28px 15px 0 15px;
    }

    .card-title,
    .card-description {
        font-size: 1rem;
    }

    .card-description {
        margin-top: 10px;
    }

    .btn-primary {
        padding: 20px 30px;
    }

    /* Trusted section responsive */
    .trusted-container {
        flex-direction: column;
        margin: 42px 15px 0 15px;
    }

    .wrapper-badge {
        display: none;
    }

    .trusted-content-title {
        font-size: 1.5rem;
    }

    .trusted-content ul {
        font-size: 0.875rem;
    }

    /* Deals section responsive */
    .deals-container {
        margin-top: 50px;
    }

    .deals-title {
        font-size: 1.5rem;
    }

    .deals-description {
        font-size: 0.875rem;
        max-width: 360px;
    }

    /* Box section responsive */
    .box-container {
        flex-direction: column;
        height: auto;
        row-gap: 20px;
        column-gap: 0;
        margin: 50px 0 0 0;
        padding: 0 16px 0 16px;
    }

    .left,
    .box-3 {
        width: 100%;
    }

    .box {
        min-height: 184px;
    }

    .box-3 {
        border-radius: 14px;
    }

    .overlay {
        opacity: 0.6;
    }

    .big-overlay {
        border-radius: 14px;
    }

    #important-title {
        font-size: 1.25rem;

    }

    #important-description {
        font-size: 1rem;
    }

    /* Join section responsive */
    .join-container {
        height: 275px;
        margin-top: 44px;
    }

    .join-content {
        width: 321px;
        margin: auto;
    }


    .join-title {
        font-size: 1.25rem;
    }

    .email {
        max-width: 70%;
    }

    .btn-secondary {
        max-width: 30%;
    }

    /* Footer section responsive */
    .footer-container {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 14px;
    }

    .footer-list-one {
        margin-top: 20px;
    }

    .footer-icon {
        margin-top: 20px;
    }


}




/* Responsive for medium devices */
 /* @media screen and (min-width: 577px) and (max-width: 768px) { */

    /* Planet and card section  */
    /* .plant-container {
        margin-top: 65px;
    }

    .plant-title {
        font-size: 1.5rem;
    }

    .plant-description {
        font-size: 0.875rem;
        padding: 0 28px;
    }

    .card-container {
        grid-template-columns: repeat(3, 1fr);
        margin: 28px 15px 0 15px;
    }

    .card-title,
    .card-description {
        font-size: 1rem;
    }

    .card-description {
        margin-top: 10px;
    }

    .btn-primary {
        padding: 20px 30px;
    } */

    /* Trusted section styles */
    /* .trusted-container {
        flex-direction: column;
        margin: 42px 15px 0 15px;
    }

    .wrapper-container {}

    .wrapper-badge {
        display: none;
    }

    .trusted-content-title {
        font-size: 1.5rem;
    }

    .trusted-content ul {
        font-size: 0.875rem;
    } */

/* } */